backports.entry-points-selectable==1.1.1
distlib==0.3.3
filelock==3.3.2
pbr==5.7.0
platformdirs==2.4.0
six==1.16.0
stevedore==3.5.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
